---
import { getLocaleByCode, useTranslation } from '~/lib/i18n/utils';
import { isExternalLink, normalizeLink } from '~/lib/routing';

type Props = {
	links: { labelI18nKey: string; href: string }[];
};

const locale = getLocaleByCode(Astro.currentLocale);
const t = await useTranslation(locale);

const { links } = Astro.props;
---

{
	links.map((link) => {
		const isExternal = isExternalLink(link.href);

		return (
			<a
				href={normalizeLink(locale, link.href)}
				target={isExternal ? '_blank' : '_self'}
				class="btn btn-ghost gap-0.5 font-normal"
			>
				{t(link.labelI18nKey)}
				{isExternal && (
					<span class="icon-[tabler--external-link] opacity-60" />
				)}
			</a>
		);
	})
}
