---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLocaleByCode, useTranslation } from '~/lib/i18n/utils';
import Links from './Navbar/Links.astro';
import LocaleSwitcher from './Navbar/LocaleSwitcher.astro';
import ThemeSwitcherWrapper from './Navbar/ThemeSwitcherWrapper.astro';
import { Config } from '~/config';
import { logger } from '~/lib/logger';

type Props = {
	configKey?: string | undefined;
};

const locale = getLocaleByCode(Astro.currentLocale);
const t = await useTranslation(locale);

const { configKey } = Astro.props;
const navConfig = Object.entries(Config.navbar).find(
	([key]) => key === configKey,
)?.[1];

if (configKey && !navConfig)
	logger.warn(`Navbar config "${configKey}" is not found.`);
---

<div class="navbar border-b border-base-200 bg-base-100">
	<div class="flex-1">
		<!-- Site title -->
		<a href={getRelativeLocaleUrl(locale)} class="btn btn-ghost text-xl">
			{t('site.name')}
		</a>
	</div>

	<div class="flex-none">
		<!-- Links -->
		<Links links={navConfig?.links ?? []} />

		<!-- Theme switcher -->
		<ThemeSwitcherWrapper />

		<!-- Locale switcher -->
		<LocaleSwitcher />

		<!-- Mobile nav toggle -->
		<!-- [TODO) Waiting for navbar links -->
		<button class="btn btn-square btn-ghost sm:hidden">
			<span class="icon-[tabler--menu-2] h-6 w-6"></span>
		</button>
	</div>
</div>
