---
import { Icon } from 'astro-icon/components';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLocaleByCode, useTranslation } from '~/lib/i18n/utils';
import LocaleSwitcher from './Navbar/LocaleSwitcher.astro';
import ThemeSwitcherWrapper from './Navbar/ThemeSwitcherWrapper.astro';

const locale = getLocaleByCode(Astro.currentLocale);
const t = await useTranslation(locale);
---

<div class="navbar border-b border-base-200 bg-base-100">
	<div class="flex-1">
		<a href={getRelativeLocaleUrl(locale)} class="btn btn-ghost text-xl">
			{t('site.name')}
		</a>
	</div>
	<div class="flex-none">
		<!-- Theme switcher -->
		<ThemeSwitcherWrapper />

		<!-- Locale switcher -->
		<LocaleSwitcher />

		<!-- Mobile nav toggle -->
		<!-- [TODO) Waiting for navbar links -->
		<button class="btn btn-square btn-ghost sm:hidden">
			<Icon name="tabler:menu-2" class="h-6 w-6" />
		</button>
	</div>
</div>
