---
import Navbar from '~/components/common/Navbar.astro';
import BaseLayout from './LayoutBase.astro';
import type { BlankLayoutProps } from '~/lib/types';

type Props = BlankLayoutProps;

const { navConfigKey } = Astro.props;
---

<BaseLayout {...Astro.props}>
	<header>
		<slot name="before-navbar" />
		<Navbar configKey={navConfigKey} />
	</header>

	<main class="flex-shrink-0 flex-grow">
		<slot />
	</main>

	<slot name="before-footer" />
	<slot name="footer" />
</BaseLayout>
